BODY {
   background-color: white
}

/* A:link { color: #003399 }   unvisited link */
/* A:visited { color: #0033CC }   visited links */
/* A:active { color: #003399 }   active links */

P {
       font-family: Verdana, Arial, Helvetica, sans-serif;
       font-size: 10pt;
       color: black}

UL {
       font-family: Verdana, Arial, Helvetica, sans-serif;
       font-size: 10pt;
       color: black}

OL {
       font-family: Verdana, Arial, Helvetica, sans-serif;
       font-size: 10pt;
       color: black}

.par {
       font-family: Verdana, Arial, Helvetica, sans-serif;
       font-size: 10pt;
       color: black}
       
.white {
       font-family: Verdana, Arial, Helvetica, sans-serif;
       font-size: 10pt;
       color: white}

.red {
       font-family: Verdana, Arial, Helvetica, sans-serif;
       font-size: 10pt;
       color: red}

.blue {
       font-family: Verdana, Arial, Helvetica, sans-serif;
       font-size: 10pt;
       color: #003399}

.big {
       font-family: Verdana, Arial, Helvetica, sans-serif;
       font-size: 12pt;
       color: black;
       font-weight: bold}

.big-light {
       font-family: Verdana, Arial, Helvetica, sans-serif;
       font-size: 12pt;
       color: black}

.small {
       font-family: Verdana, Arial, Helvetica, sans-serif;
       font-size: 8pt;
       color: black}

.small-white {
       font-family: Verdana, Arial, Helvetica, sans-serif;
       font-size: 8pt;
       color: white}

.small-blue {
       font-family: Verdana, Arial, Helvetica, sans-serif;
       font-size: 8pt;
       color: #003399}

.small-red {
       font-family: Verdana, Arial, Helvetica, sans-serif;
       font-size: 8pt;
       color: red}
	   
.small-white{
       font-family: Verdana, Arial, Helvetica, sans-serif;
       font-size: 8pt;
       color: white}

.big-white {
       font-family: Verdana, Arial, Helvetica, sans-serif;
       font-size: 12pt;
       color: white;
       font-weight: bold}

.big-red {
       font-family: Verdana, Arial, Helvetica, sans-serif;
       font-size: 12pt;
       color: red;
       font-weight: bold}

.big-blue {
       font-family: Verdana, Arial, Helvetica, sans-serif;
       font-size: 12pt;
       color: #003399;
       font-weight: bold}

H1 {
       font-family: Verdana, Arial, Helvetica, sans-serif;
       font-size: 16pt;
       color: black;
       font-weight: bold}

H2 {
       font-family: Verdana, Arial, Helvetica, sans-serif;
       font-size: 14pt;
       color: black;
       font-weight: bold}

H3 {
       font-family: Verdana, Arial, Helvetica, sans-serif;
       font-size: 12pt;
       color: black;
       font-weight: bold}

H1.red {
       font-family: Verdana, Arial, Helvetica, sans-serif;
       font-size: 16pt;
       color: red;
       font-weight: bold}

H1.blue {
       font-family: Verdana, Arial, Helvetica, sans-serif;
       font-size: 16pt;
       color: #003399;
       font-weight: bold}

H2.red {
       font-family: Verdana, Arial, Helvetica, sans-serif;
       font-size: 14pt;
       color: red;
       font-weight: bold}

H2.blue {
       font-family: Verdana, Arial, Helvetica, sans-serif;
       font-size: 14pt;
       color: #003399;
       font-weight: bold}

H3.red {
       font-family: Verdana, Arial, Helvetica, sans-serif;
       font-size: 12pt;
       color: red;
       font-weight: bold}

H3.blue {
       font-family: Verdana, Arial, Helvetica, sans-serif;
       font-size: 12pt;
       color: #003399;
       font-weight: bold}

.dispari {
	   background-color:yellow}

.noShow {
	   display:none}
